body {

    background-color: #EAF6F6;
}

h1{
  color: #66BFBF;

}

h3{

    color: #1f9b9b;
}
hr{

   
    border-style:dotted none none;
    border-color: grey;
    border-width: 2px;
    
    
   
    width: 100%;
}

.circular{

    border-radius: 100%;
}

img{
   background-color: rgb(138, 0, 0);
    height: 200px;
    width:800 ;
}
